Presentacion/Connected Services/SegAppService/SegApp1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebService.Modelos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebService.Modelos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoOperacion" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:decimal" />
      <xs:element minOccurs="0" name="MensajeOperacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Perfiles" nillable="true" type="tns:ArrayOfPerfil" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioJSON" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ArrayOfPerfil">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Perfil" nillable="true" type="tns:Perfil" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerfil" nillable="true" type="tns:ArrayOfPerfil" />
  <xs:complexType name="Perfil">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescripcionPerfil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdPerfil" type="xs:decimal" />
      <xs:element minOccurs="0" name="NombrePerfil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operaciones" nillable="true" type="tns:ArrayOfOperacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Perfil" nillable="true" type="tns:Perfil" />
  <xs:complexType name="ArrayOfOperacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Operacion" nillable="true" type="tns:Operacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOperacion" nillable="true" type="tns:ArrayOfOperacion" />
  <xs:complexType name="Operacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescripcionOperacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdOperacion" type="xs:decimal" />
      <xs:element minOccurs="0" name="NombreOperacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Operacion" nillable="true" type="tns:Operacion" />
</xs:schema>